#loginform{

color:black;
float:center;

margin:70px 36px 60px 400px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















